footer {
    background-color: #030303;
    /* background-image: linear-gradient(to bottom right, rgb(7, 9, 9), rgb(122, 0, 0)); */

    /* height: '70px';   */
    height: 35vh;
    color: #fff;
    padding: 20px 0;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 30%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
  