.fd{
    background: #1d061a
}
.pagetitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    padding-top: 50px;   
    text-shadow: 2px 2px 10px #777474;
  
}